[submodule "code/libjpeg-turbo"]
	path = code/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "code/zlib-ng"]
	path = code/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "code/libcurl"]
	path = code/libcurl
	url = https://github.com/curl/curl.git
