name: build

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '*.txt'
      - '.gitignore'
      - 'docs/*'
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '*.txt'
      - '.gitignore'
      - 'docs/*'
  release:
    types: [published]

  workflow_dispatch:

jobs:
  windows:
    name: Release Windows x86_64
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    steps:

    - name: Install tools
      run: |
        sudo apt-get -qq update
        sudo apt-get -y install gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 nasm

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: |
        make install -j$(nproc) PLATFORM=mingw64

    - uses: actions/upload-artifact@v6
      with:
        name: release-mingw64-x86_64
        path: build/release-mingw64-x86_64
        if-no-files-found: error
        retention-days: 5
        
  linux:
    name: Release Linux x86_64
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false

    steps:

    - name: Install tools
      run: |
        sudo apt-get -qq update
        sudo apt-get -y install libcurl4-openssl-dev libsdl2-dev libopenal-dev nasm

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: |
        make install -j$(nproc) BUILD_SERVER=1

    - uses: actions/upload-artifact@v6
      with:
        name: release-linux-x86_64
        path: build/release-linux-x86_64
        if-no-files-found: error
        retention-days: 5

  linux-arm:
    name: Release Linux arm64
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false

    steps:

    - name: Install tools
      run: |
        sudo apt-get -qq update
        sudo apt-get -y install libcurl4-openssl-dev libsdl2-dev libopenal-dev

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: |
        make install -j$(nproc) BUILD_SERVER=1

    - uses: actions/upload-artifact@v6
      with:
        name: release-linux-arm64
        path: build/release-linux-arm64
        if-no-files-found: error
        retention-days: 5

  macos:
    name: Release macOS universal2
    runs-on: macos-15
    strategy:
      fail-fast: false

    steps:

    - name: Install tools
      run: brew install coreutils sdl2

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: |
        make install -j$(sysctl -n hw.logicalcpu) ARCH=x86_64 INSTALL=ginstall
        make install -j$(sysctl -n hw.logicalcpu) ARCH=arm64 INSTALL=ginstall
        ./make-macosx-app.sh release
        hdiutil create -format UDZO -srcfolder build/release-darwin-universal2/OmegA.app build/omega-engine-macos-universal2.dmg

    - uses: actions/upload-artifact@v6
      with:
        name: release-darwin-universal2
        path: build/omega-engine-macos-universal2.dmg
        if-no-files-found: error
        retention-days: 5

  create-testing:
    if: github.event_name == 'workflow_dispatch'
    needs: [windows, linux, linux-arm, macos]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6

      - name: Create binary archives
        run: |
          7z a -r omega-engine-linux-x86_64.zip      ./release-linux-x86_64
          7z a -r omega-engine-linux-arm64.zip       ./release-linux-arm64
          7z a -r omega-engine-windows-x86_64.zip    ./release-mingw64-x86_64
          cp ./release-darwin-universal2/omega-engine-macos-universal2.dmg .
      - name: Create latest build
        uses: czietz/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: "development"
          prerelease: true
          title: Development Build
          files: |
            *.zip
            *.dmg
